annotated-types==0.7.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.8
deepdiff==7.0.1
Deprecated==1.2.14
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
ordered-set==4.1.0
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
PyGithub==2.3.0
Pygments==2.18.0
PyJWT==2.8.0
PyNaCl==1.5.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
typing_extensions==4.12.2
urllib3==2.2.2
wrapt==1.16.0
